{% extends 'base.html.twig' %}
{% set muestraMenu = true %}
{% block title %}Hello HomePageController!{% endblock %}

 {% block stylesheets %}
 		    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
            <link rel="stylesheet" type="text/css"  href={{ asset('recursos/mybootstrap/css/homepage.css') }}>
{% endblock %}
{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

{% include 'menuGeneral.php' %}
<div>
    <ul class="navbar">
        <li><a href="{{path('app_homepage')}}"> Pantalla principal</a></li>
        <li><a href="{{path('app_testa_timagen_index')}}"> Imagenes</a></li>
        <li><a href="{{path('app_testa_tnotario_index')}}"> Notario</a></li>
        <li><a href="{{path('app_testa_toficio_index')}}"> oficio</a></li>
        <li><a href="{{path('app_testa_totorgante_index')}}"> Otorgante</a></li>
        <li><a href="{{path('app_testa_tparentesco_index')}}"> Parentesco</a></li>
        <li><a href="{{path('app_testa_tpoblacion_index')}}"> Poblacion</a></li>
        <li><a href="{{path('app_testa_ttestamento_index')}}"> Testamento</a></li>
        <li><a href="{{path('app_testa_ttestaotorgante_index')}}"> Otorgantes de un testamento</a></li>
        {% if user %}
            {% if is_granted('ROLE_ADMIN') %}
                <li><a href="{{path('app_user_index')}}"> Lista de usuarios</a></li>
            {% endif %}
        {% endif %}

    </ul>
</div>
{% endblock %}
