{{ form_start(form) }}
<div class="container">
    <div class="row">
        {{ form_label(form.nombre, 'Nombre:',{'label_attr': {'class':'col-md-2'}}) }}
        {{ form_widget(form.nombre,{'attr': {'class':'col-md-8'}}) }}
    </div>
    <div class="row">
        {{ form_label(form.apellido1, 'Apellido 1:',{'label_attr': {'class':'col-md-2'}}) }}
        {{ form_widget(form.apellido1,{'attr': {'class':'col-md-8'}}) }}
    </div>
    <div class="row">
        {{ form_label(form.apellido2, 'Apellido 2:',{'label_attr': {'class':'col-md-2'}}) }}
        {{ form_widget(form.apellido2,{'attr': {'class':'col-md-8'}}) }}
    </div>
    <div class="row">
        {{ form_label(form.id_oficio, 'Oficio:',{'label_attr': {'class':'col-md-2'}}) }}
        {{ form_widget(form.id_oficio,{'attr': {'class':'col-md-8'}}) }}
    </div>

<div class="btn-group mr-2 btn-group-sm" role="group"  title="Grabar Registro" >
    <button type="submit" class="btn boton mr-2 btn-group-sm" role="button"><i class="fa fa-paste"></i> Grabar</button>
</div>
</div>
{{ form_end(form) }}

