{% extends 'base.html.twig' %}

{% block title %}TestaTotorgante index{% endblock %}

{% block body %}
    <h1>TestaTotorgante index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Apellido1</th>
                <th>Apellido2</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for testa_totorgante in testa_totorgantes %}
            <tr>
                <td>{{ testa_totorgante.id }}</td>
                <td>{{ testa_totorgante.nombre }}</td>
                <td>{{ testa_totorgante.apellido1 }}</td>
                <td>{{ testa_totorgante.apellido2 }}</td>
                <td>
                    <a href="{{ path('app_testa_totorgante_show', {'id': testa_totorgante.id}) }}">show</a>
                    <a href="{{ path('app_testa_totorgante_edit', {'id': testa_totorgante.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_testa_totorgante_new') }}">Create new</a>
{% endblock %}
