{% extends 'base.html.twig' %}

{% block title %}TestaTotorgante{% endblock %}

{% block body %}
    <h1>TestaTotorgante</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ testa_totorgante.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ testa_totorgante.nombre }}</td>
            </tr>
            <tr>
                <th>Apellido1</th>
                <td>{{ testa_totorgante.apellido1 }}</td>
            </tr>
            <tr>
                <th>Apellido2</th>
                <td>{{ testa_totorgante.apellido2 }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_testa_totorgante_index') }}">back to list</a>

    <a href="{{ path('app_testa_totorgante_edit', {'id': testa_totorgante.id}) }}">edit</a>

    {{ include('testa_totorgante/_delete_form.html.twig') }}
{% endblock %}
