{% extends 'base.html.twig' %}

{% block title %}TestaTnotario index{% endblock %}

{% block body %}
    <h1>TestaTnotario index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Des_notario</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for testa_tnotario in testa_tnotarios %}
            <tr>
                <td>{{ testa_tnotario.id }}</td>
                <td>{{ testa_tnotario.desNotario }}</td>
                <td>
                    <a href="{{ path('app_testa_tnotario_show', {'id': testa_tnotario.id}) }}">show</a>
                    <a href="{{ path('app_testa_tnotario_edit', {'id': testa_tnotario.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_testa_tnotario_new') }}">Create new</a>
{% endblock %}
