{% extends 'base.html.twig' %}

{% block title %}TestaTnotario{% endblock %}

{% block body %}
    <h1>TestaTnotario</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ testa_tnotario.id }}</td>
            </tr>
            <tr>
                <th>Des_notario</th>
                <td>{{ testa_tnotario.desNotario }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_testa_tnotario_index') }}">back to list</a>

    <a href="{{ path('app_testa_tnotario_edit', {'id': testa_tnotario.id}) }}">edit</a>

    {{ include('testa_tnotario/_delete_form.html.twig') }}
{% endblock %}
