{% extends 'baseDatatable.html.twig' %}

{% set id_tabla = 'componente' %}
{% set muestraMenu = true %}
{% set pathIndex =  path('app_testa_t_validacion_index') %}
{% set pathEdit =  path('app_testa_t_validacion_edit', {'id': testa_t_validacion.id}) %}
{% set includeDelete =  'testa_t_validacion/_delete_form.html.twig' %}

{% block title %}Validaciones{% endblock %}


{% block body %}
    <h1>Validacion</h1>
    <br>
    <h1>Índice de validación: <b>{{ testa_t_validacion.numValidacion }}</b> </h1>

    <table class="table  container fondoclaro">
        <tbody>
            <tr>
                <th width="10%">Id</th>
                <td>{{ testa_t_validacion.id }}</td>
            </tr>
            <tr>
                <th>Valor Validación</th>
                <td>{{ testa_t_validacion.numValidacion }}</td>
            </tr>
            <tr>
                <th>Año</th>
                <td>{{ testa_t_validacion.validaciones.anno }}</td>
            </tr>
            <tr>
                <th>Mes</th>
                <td>{{ testa_t_validacion.validaciones.mes }}</td>
            </tr>
            <tr>
                <th>Dia</th>
                <td>{{ testa_t_validacion.validaciones.dia }}</td>
            </tr>
            <tr>
                <th>Mancomundo</th>
                <td>{{ testa_t_validacion.validaciones.mancomunado }}</td>
            </tr>
            <tr>
                <th>Ilegible</th>
                <td>{{ testa_t_validacion.validaciones.ilegible }}</td>
            </tr>
            <tr>
                <th>Protocolo</th>
                <td>{{ testa_t_validacion.validaciones.protocolo }}</td>
            </tr>
            <tr>
                <th>Folio</th>
                <td>{{ testa_t_validacion.validaciones.folio }}</td>
            </tr>
            <tr>
                <th>Población</th>
                <td>{{ testa_t_validacion.validaciones.poblacion }}</td>
            </tr>
            <tr>
                <th>Notario</th>
                <td>{{ testa_t_validacion.validaciones.notario }}</td>
            </tr>
            <tr>
                <th>Otorgante</th>
                <td>{{ testa_t_validacion.validaciones.otorgante }}</td>
            </tr>
            <tr>
                <th>Validaciones</th>
                <td>{{ testa_t_validacion.validaciones ? testa_t_validacion.validaciones|join(', ') : '' }}</td>
            </tr>
        </tbody>
    </table>

{% endblock %}
