{{ form_start(form) }}
<div class="container">
    <div class="row">
        {{ form_label(form.num_validacion, 'Valor Validación:',{'label_attr': {'class':'col-md-2'}}) }}
        {{ form_widget(form.num_validacion,{'attr': {'class':'col-md-8'}}) }}
    </div>
    <div class="row">
        {{ form_label(form.validaciones.anno, 'Año:',{'label_attr': {'class':'col-md-2'}}) }}
        {{ form_widget(form.validaciones.anno,{'attr': {'class':'col-md-8'}}) }}
    </div>
    <div class="row">
        {{ form_label(form.validaciones.mes, 'Mes:',{'label_attr': {'class':'col-md-2'}}) }}
        {{ form_widget(form.validaciones.mes,{'attr': {'class':'col-md-8'}}) }}
    </div>
    <div class="row">
        {{ form_label(form.validaciones.dia, 'Dia:',{'label_attr': {'class':'col-md-2'}}) }}
        {{ form_widget(form.validaciones.dia,{'attr': {'class':'col-md-8'}}) }}
    </div>
    <div class="row">
        {{ form_label(form.validaciones.mancomunado, 'Mancomunado:',{'label_attr': {'class':'col-md-2'}}) }}
        {{ form_widget(form.validaciones.mancomunado,{'attr': {'class':'col-md-8'}}) }}
    </div>
    <div class="row">
        {{ form_label(form.validaciones.ilegible, 'Ilegible:',{'label_attr': {'class':'col-md-2'}}) }}
        {{ form_widget(form.validaciones.ilegible,{'attr': {'class':'col-md-8'}}) }}
    </div>
    <div class="row">
        {{ form_label(form.validaciones.protocolo, 'Protocolo:',{'label_attr': {'class':'col-md-2'}}) }}
        {{ form_widget(form.validaciones.protocolo,{'attr': {'class':'col-md-8'}}) }}
    </div>
    <div class="row">
        {{ form_label(form.validaciones.folio, 'Folio:',{'label_attr': {'class':'col-md-2'}}) }}
        {{ form_widget(form.validaciones.folio,{'attr': {'class':'col-md-8'}}) }}
    </div>
    <div class="row">
        {{ form_label(form.validaciones.poblacion, 'Poblacion:',{'label_attr': {'class':'col-md-2'}}) }}
        {{ form_widget(form.validaciones.poblacion,{'attr': {'class':'col-md-8'}}) }}
    </div>
    <div class="row">
        {{ form_label(form.validaciones.notario, 'Notario:',{'label_attr': {'class':'col-md-2'}}) }}
        {{ form_widget(form.validaciones.notario,{'attr': {'class':'col-md-8'}}) }}
    </div>
    <div class="row">
        {{ form_label(form.validaciones.parentesco, 'Parentesco:',{'label_attr': {'class':'col-md-2'}}) }}
        {{ form_widget(form.validaciones.parentesco,{'attr': {'class':'col-md-8'}}) }}
    </div>
    <div class="row">
        {{ form_label(form.id_testamento, 'Testamento:',{'label_attr': {'class':'col-md-2'}}) }}
        {{ form_widget(form.id_testamento,{'attr': {'class':'col-md-8'}}) }}
    </div>

<div class="btn-group mr-2 btn-group-sm" role="group"  title="Grabar Registro" >
    <button type="submit" class="btn boton mr-2 btn-group-sm" role="button"><i class="fa fa-paste"></i> Grabar</button>
</div>
</div>
{{ form_end(form) }}


