{% extends 'baseDatatable.html.twig' %}

{% set id_tabla = 'componente' %}
{% set muestraMenu = true %}
{% set pathIndex =  path('app_testa_t_validacion_index') %}
{% set pathEdit =  path('app_testa_t_validacion_edit', {'id': testa_t_validacion.id}) %}
{% set includeDelete =  'testa_t_validacion/_delete_form.html.twig' %}

{% block title %}Validaciones{% endblock %}


{% block body %}
    <h1>Validacion</h1>

    <table class="table  container fondoclaro">
        <tbody>
            <tr>
                <th width="10%">Id</th>
                <td>{{ testa_t_validacion.id }}</td>
            </tr>
            <tr>
                <th>Num_validacion</th>
                <td>{{ testa_t_validacion.numValidacion }}</td>
            </tr>
            <tr>
                <th>Validaciones</th>
                <td>{{ testa_t_validacion.validaciones ? testa_t_validacion.validaciones|join(', ') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_testa_t_validacion_index') }}">back to list</a>

    <a href="{{ path('app_testa_t_validacion_edit', {'id': testa_t_validacion.id}) }}">edit</a>

    {{ include('testa_t_validacion/_delete_form.html.twig') }}
{% endblock %}
