{% extends 'base.html.twig' %}

{% block title %}TestaTtestaotorgante index{% endblock %}

{% block body %}
    <h1>TestaTtestaotorgante index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Num_orden</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for testa_ttestaotorgante in testa_ttestaotorgantes %}
            <tr>
                <td>{{ testa_ttestaotorgante.id }}</td>
                <td>{{ testa_ttestaotorgante.numOrden }}</td>
                <td>
                    <a href="{{ path('app_testa_ttestaotorgante_show', {'id': testa_ttestaotorgante.id}) }}">show</a>
                    <a href="{{ path('app_testa_ttestaotorgante_edit', {'id': testa_ttestaotorgante.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_testa_ttestaotorgante_new') }}">Create new</a>
{% endblock %}
