{% extends 'base.html.twig' %}

{% block title %}TestaTparentesco index{% endblock %}

{% block body %}
    <h1>TestaTparentesco index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Des_parentesco</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for testa_tparentesco in testa_tparentescos %}
            <tr>
                <td>{{ testa_tparentesco.id }}</td>
                <td>{{ testa_tparentesco.desParentesco }}</td>
                <td>
                    <a href="{{ path('app_testa_tparentesco_show', {'id': testa_tparentesco.id}) }}">show</a>
                    <a href="{{ path('app_testa_tparentesco_edit', {'id': testa_tparentesco.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_testa_tparentesco_new') }}">Create new</a>
{% endblock %}
