{% extends 'base.html.twig' %}

{% block title %}TestaTimagen index{% endblock %}

{% block body %}
    <h1>TestaTimagen index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Des_imagen</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for testa_timagen in testa_timagens %}
            <tr>
                <td>{{ testa_timagen.id }}</td>
                <td>{{ testa_timagen.desImagen }}</td>
                <td>
                    <a href="{{ path('app_testa_timagen_show', {'id': testa_timagen.id}) }}">show</a>
                    <a href="{{ path('app_testa_timagen_edit', {'id': testa_timagen.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_testa_timagen_new') }}">Create new</a>
{% endblock %}
