{% extends 'base.html.twig' %}

{% block title %}TestaTimagen{% endblock %}

{% block body %}
    <h1>TestaTimagen</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ testa_timagen.id }}</td>
            </tr>
            <tr>
                <th>Des_imagen</th>
                <td>{{ testa_timagen.desImagen }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_testa_timagen_index') }}">back to list</a>

    <a href="{{ path('app_testa_timagen_edit', {'id': testa_timagen.id}) }}">edit</a>

    {{ include('testa_timagen/_delete_form.html.twig') }}
{% endblock %}
