{% extends 'baseDatatable.html.twig' %}

{% block title %}TestaTtestamento index{% endblock %}

{% block body %}
    <h1>TestaTtestamento index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Anno</th>
                <th>Mes</th>
                <th>Dia</th>
                <th>Mancomunado</th>
                <th>Textoilegible</th>
                <th>Num_protocolo</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for testa_ttestamento in testa_ttestamentos %}
            <tr>
                <td>{{ testa_ttestamento.id }}</td>
                <td>{{ testa_ttestamento.anno }}</td>
                <td>{{ testa_ttestamento.mes }}</td>
                <td>{{ testa_ttestamento.dia }}</td>
                <td>{{ testa_ttestamento.mancomunado ? 'Yes' : 'No' }}</td>
                <td>{{ testa_ttestamento.textoilegible ? 'Yes' : 'No' }}</td>
                <td>{{ testa_ttestamento.numProtocolo }}</td>
                <td>
                    <a href="{{ path('app_testa_ttestamento_show', {'id': testa_ttestamento.id}) }}">show</a>
                    <a href="{{ path('app_testa_ttestamento_edit', {'id': testa_ttestamento.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_testa_ttestamento_new') }}">Create new</a>
{% endblock %}
