<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link rel="stylesheet" href="{{asset('recursos/bootstrap/css/bootstrap.min.css') }}"></link>
            <link rel="stylesheet" href="{{asset('recursos/mybootstrap/css/general.css') }}"></link>

            <link rel="stylesheet" type="text/css"  href={{ asset('recursos/mybootstrap/css/homepage.css') }}>
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
            <script src="{{asset('recursos/bootstrap/js/bootstrap.min.js') }}"></script>
            <script src="{{asset('recursos/mybootstrap/js/scripts.js')}}"></script>
        {% endblock %}
    </head>
    <body>
        {% block body %}
        <div>
            <ul class="navbar">
                <li><a href="{{path('app_homepage')}}"> Pantalla principal</a></li>
                <li><a href="{{path('app_testa_timagen_index')}}"> Imagenes</a></li>
                <li><a href="{{path('app_testa_tnotario_index')}}"> Notario</a></li>
                <li><a href="{{path('app_testa_toficio_index')}}"> oficio</a></li>
                <li><a href="{{path('app_testa_totorgante_index')}}"> Otorgante</a></li>
                <li><a href="{{path('app_testa_tparentesco_index')}}"> Parentesco</a></li>
                <li><a href="{{path('app_testa_tpoblacion_index')}}"> Poblacion</a></li>
                <li><a href="{{path('app_testa_ttestamento_index')}}"> Testamento</a></li>
                <li><a href="{{path('app_testa_ttestaotorgante_index')}}"> Otorgantes de un testamento</a></li>
                {% if user %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <li><a href="{{path('app_user_index')}}"> Lista de usuarios</a></li>
                    {% endif %}
                {% endif %}
            </ul>
        </div>
        {% endblock %}
    </body>
</html>
