{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block body %}
    {{ form_errors(form) }}
    <h1>Bienvenid@</h1>
    {{ form_start(form) }}
        {{ form_row(form.email) }}
        {{ form_row(form.plainPassword, {
            label: 'Password'
        }) }}
        <button type="button" class="btn" onclick="window.location.href='{{ path('app_register') }}'">
            Register
        </button>
        <button type="submit" class="btn">
            Login
        </button>
{% endblock %}