{% extends 'base.html.twig' %}

{% block title %}TestaToficio index{% endblock %}

{% block body %}
    <h1>TestaToficio index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Des_oficio</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for testa_toficio in testa_toficios %}
            <tr>
                <td>{{ testa_toficio.id }}</td>
                <td>{{ testa_toficio.desOficio }}</td>
                <td>
                    <a href="{{ path('app_testa_toficio_show', {'id': testa_toficio.id}) }}">show</a>
                    <a href="{{ path('app_testa_toficio_edit', {'id': testa_toficio.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_testa_toficio_new') }}">Create new</a>
{% endblock %}
