{% extends 'base.html.twig' %}

{% block title %}TestaTpoblacion index{% endblock %}

{% block body %}
    <h1>TestaTpoblacion index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Des_poblacion</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for testa_tpoblacion in testa_tpoblacions %}
            <tr>
                <td>{{ testa_tpoblacion.id }}</td>
                <td>{{ testa_tpoblacion.desPoblacion }}</td>
                <td>
                    <a href="{{ path('app_testa_tpoblacion_show', {'id': testa_tpoblacion.id}) }}">show</a>
                    <a href="{{ path('app_testa_tpoblacion_edit', {'id': testa_tpoblacion.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_testa_tpoblacion_new') }}">Create new</a>
{% endblock %}
