{% extends 'baseDatatable.html.twig' %}


{% set id_tabla = 'csv' %}
{% set muestraMenu = true %}

{% block title %}{{id_tabla}} Manejo{% endblock %}

{% block javascripts %}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const tipoSelect = document.getElementById('{{ formVal.tipo.vars.id }}');
            const fotoContainer = document.getElementById('foto');

            function toggleFotoContainer() {
                if (tipoSelect.value === '1') {
                    fotoContainer.style.display = 'block';
                } else {
                    fotoContainer.style.display = 'none';
                }
            }

            // Inicializa visibilidad al cargar
            toggleFotoContainer();

            // Reacciona a cambios
            tipoSelect.addEventListener('change', toggleFotoContainer);
        });
    </script>
{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

    <h1>Cargar CSV</h1>
    
    <div class="card">
        <div class="card-body">
            {{ form_start(form) }}
                <div class="mb-3">
                    {{ form_label(form.csv_file) }}
                    {{ form_widget(form.csv_file) }}
                    {{ form_errors(form.csv_file) }}
                    <div class="form-text">
                        Formatos aceptados: .csv 
                    </div>
                </div>
                
                {{ form_widget(form.submit_csv) }}
            {{ form_end(form) }}
        </div>
    </div>
    <div class="card">    
        <div class="card-body">
            {{ form_start(formVal) }}
                <div class="mb-3">
                    {{ form_label(formVal.tipo) }}
                    {{ form_widget(formVal.tipo) }}
                </div>
                {{ dump(formVal.tipo.vars.value) }}
                    <div class="mb-3" id="foto" 
                        {% if formVal.tipo.vars.value != 1 %}
                            style="display: none;"
                        {% endif %}>
                            {{ form_label(formVal.foto) }}
                            {{ form_widget(formVal.foto) }}
                            {{ form_errors(formVal.foto) }}
                    </div>
                {% endif %}
                {{ form_widget(formVal.validar) }}
            {{ form_end(formVal) }}
        </div>
        <div class="card-body">
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}        
            {% endfor %}
        </div>
    </div>
{% endblock %}